/* Circle Styles */
.circleBox {
  border: 1px;
  border-color: #000;
  border-style: solid;
  width: 200px;
  height: 200px;
  margin: 10px;
  padding: 10px;
}
.circle {
  border-radius: 50%;
	width: 200px;
	height: 200px;
  background: #909;
  text-align: center;
  color: #fff;
  vertical-align: middle;
}
.circleText {
padding-top: 90px;
}
