/* Circle Mobile Styles */
@media (max-width: 425px) {
  .circleBox {
    width: 100px;
    height: 100px;
  }
.circle {
	width: 100px;
	height: 100px;
  background: #0cc;
}
.circleText {
padding-top: 40px;
}
}
